.widgetcontainer{
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	width: 205px;
	margin-left:7px;
	border: 2px solid transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px; 
	border-radius: 10px;
	padding: 5px; 
	background: url(../../images/graytrans.png) fixed; 
	font-weight: bold; 
}
div.widgettitle{
	text-shadow:0 0 0.2em #111111, 0 0 0.2em #111111, 0 0 0.2em #111111;
	color:#FF9600;
	font-size:14px;
	font-family:Arial,Verdana,Helvetica;
	font-weight: bold; 
	width: 100%; 
	text-align: center; 
	margin-bottom: 6px;
}
span.wdgclose{
	display: block;
	background: url(img/wdgclose.gif) no-repeat;
	width: 11px;
	height: 11px;
	position: absolute;
	top: 5px; 
	right: 5px;
	opacity: 0;
}
