#html5test div.appdiv{
	padding: 10px;
	border: solid 1px #aaa;
	-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;
	background: url(whitetrans.png);
}
#html5test .aboutCom, .aboutCon { cursor: pointer; }