#jqpuzzleimg { 
    padding: 5px 20px; 
    border-style: none; 
    border-top: 6px solid #D19D00; 
    border-bottom: 6px solid #D19D00; 
    background-color: #000000; 
    font-family: "Helvetica Neue",Helvetica,clean,sans-serif; 
} 
     
#jqpuzzleimg .jqp-wrapper { 
    padding: 1px; 
    border: 1px solid #D19D00; 
    background-color: transparent; 
} 
 
#jqpuzzleimg .jqp-piece { 
    border: 1px solid #000000; 
    color: #aaa; 
    font-size: 30px; 
    line-height: 78px; 
    text-align: center; 
	text-shadow: 1px 0 0.1em #000000, 0 1px 0.1em #000000, -1px 0 0.1em #000000, 0 -1px 0.1em #000000;
} 
 
#jqpuzzleimg .jqp-piece:hover { 
    color: #000; 
    opacity: 0.7; 
	text-shadow: 1px 0 0.1em #fff, 0 1px 0.1em #fff, -1px 0 0.1em #fff, 0 -1px 0.1em #fff;
} 
 
#jqpuzzleimg .jqp-piece:hover span { 
    padding: 3px; 
    padding-top: 0px; 
    color: #000; 
}             
 
#jqpuzzleimg .jqp-controls a { 
    margin-top: 15px; 
    margin-right: 5px; 
    padding: 3px 16px; 
    border: 3px double #000000; 
    background-color: #D19D00; 
    color: #FFFFFF; 
    font-size: 16px; 
    float: left; 
} 
 
#jqpuzzleimg .jqp-controls a:hover { 
    background-color: #FFC105; 
} 
 
#jqpuzzleimg .jqp-controls a.jqp-toggle,  
#jqpuzzleimg .jqp-controls a.jqp-down { 
    padding: 2px 15px; 
    border-width: 4px; 
    background-color: #856300; 
} 
 
#jqpuzzleimg .jqp-controls a.jqp-disabled { 
    background-color: #333333; 
    color: #666666; 
} 
 
#jqpuzzleimg .jqp-controls span { 
    margin-top: 0px; 
    padding: 2px; 
    padding-top: 0px; 
    padding-left: 0px; 
    background-color: transparent; 
    color: #CCCCCC; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 10px; 
    float: left; 
} 
 
#jqpuzzleimg .jqp-controls span.jqp-disabled { 
    color: #777777; 
} 
 
#jqpuzzleimg.jqp-solved .jqp-controls span { 
    padding: 2px; 
    padding-top: 0px; 
    padding-left: 0px; 
    border-style: none; 
    background-color: #0E7F07; 
    color: #FFFFFF; 
} 
 
#jqpuzzleimg .jqp-controls span input { 
    margin: 0px 3px; 
    padding: 1px 2px; 
    border: 0px none; 
    background-color: #222222; 
    color: #EEEEEE; 
    font-family: inherit; 
    font-size: 10px; 
    font-weight: bold; 
    text-align: right; 
} 
 
#jqpuzzleimg .jqp-controls span.jqp-disabled input { 
    color: #777777; 
    font-weight: normal; 
} 
 
#jqpuzzleimg.jqp-solved .jqp-controls span input { 
    background-color: #59BF53; 
    color: #FFFFFF; 
} 